<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<p align="center"><a href=one ><button class=grey style="height:75px;width:150px">Healthcheck</button></a></p>
<p align="center"><a href=two ><button class=grey style="height:75px;width:150px">Insert</button></a></p>

<p align="center"><a href=three ><button class=grey style="height:75px;width:150px">Read</button></a></p>

<p align="center"><a href=four ><button class=grey style="height:75px;width:150px">Delete</button></a></p>

</body>
</html>